# Data Programming

## Problem Set 2

### Question 1

In [2]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [3]:
b()

In [4]:
b()

In [5]:
b()

In [6]:
a

6

In the above program 'a' is given an initial value 0. In function 'b', 'a' is defined as global variable and then the value of function 'c' output is assigned to 'a'. Function 'c' is defined to return the output by adding 2 to the input. 

Thus by executing function 'b' for first time the value of 'a' which is zero is added by 2 and is stored in 'a'; thus 'a' = 2. This step is repeated two more times and hence the value of 'a' became 6 which was the output.

### Question 2

In [9]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"Error: File '{file_name}' not found.")
    except:
        print(f"Error: Could not read file '{file_name}'.")

In [12]:
file_length('midterm.txt')

12

I created a file 'midterm.txt' to make sure the code is reading files accurately.

In [14]:
file_length('idterm.py')

Error: File 'idterm.py' not found.

### Question 3

In [30]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch

In [31]:
m = Marsupial()

In [32]:
m.put_in_pouch('doll')

In [33]:
m.put_in_pouch('firetruck')

In [34]:
m.put_in_pouch('kitten')

In [35]:
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [36]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [37]:
k = Kangaroo(0,0)

In [38]:
print(k)

I am a Kangaroo located at coordinates (0,0)

In [39]:
k.put_in_pouch('doll')

In [40]:
k.put_in_pouch('firetruck')

In [41]:
k.put_in_pouch('kitten')

In [42]:
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [43]:
k.jump(1,0)

In [44]:
k.jump(1,0)

In [45]:
k.jump(1,0)

In [46]:
print(k)

I am a Kangaroo located at coordinates (3,0)

### Question 4

In [47]:
def collatz(x):
    print(x, end=' ')
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [48]:
collatz(1)

1

In [49]:
collatz(10)

10 5 16 8 4 2 1

### Questions 5

In [50]:
def binary(n):
    if n < 2:
        print(n, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

In [51]:
binary(0)

0

In [52]:
binary(1)

1

In [53]:
binary(3)

11

In [54]:
binary(9)

1001

### Question 8

a) All the temperature data.

In [ ]:
SELECT Temperature FROM table_name;

b) All the cities, but without repetition

In [ ]:
SELECT DISTINCT City FROM table_name;

c) All the records for India.

In [ ]:
SELECT * FROM table_name WHERE Country="India";

d) All the Fall records.

In [ ]:
SELECT * FROM table_name WHERE Season="Fall";

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [ ]:
SELECT City, Country, Season FROM table_name WHERE Rainfall BETWEEN 200 AND 400 ;

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [ ]:
SELECT City, Country FROM table_name WHERE Season="Fall" AND Temperature > 20 ORDER BY Temperature ASC;

g) The total annual rainfall for Cairo.

In [ ]:
SELECT SUM(Rainfall) FROM table_name WHERE City="Cairo";

h) The total rainfall for each season.

In [ ]:
SELECT Season, SUM(Rainfall) FROM table_name GROUP BY Season

### Question 9

In [75]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [79]:
upper_words = [word.upper() for word in words];
lower_words = [word.lower() for word in words];
word_lengths = [len(word) for word in words];
word_info = [[word.upper(), word.lower(), len(word)] for word in words];
long_words = [word for word in words if len(word) >= 4]

In [87]:
print(upper_words)
print("\n")
print(lower_words)
print("\n")
print(word_lengths)
print("\n")
print(word_info)
print("\n")
print(long_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']